<?xml version="1.0"?>
<routes>
  <route>
    <url>/^\/dashboard\/?$/</url>
    <controller>dashboard</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/dashboard\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>dashboard</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/dashboard\/new\/?$/</url>
    <controller>dashboard</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/dashboard\/create\/?$/</url>
    <controller>dashboard</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/dashboard\/(?P&lt;id&gt;\d+)$/</url>
    <controller>dashboard</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/dashboard\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>dashboard</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/dashboard\/alter\/?$/</url>
    <controller>dashboard</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/dashboard\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>dashboard</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/?$/</url>
    <controller>users</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>users</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/new\/?$/</url>
    <controller>users</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/create\/?$/</url>
    <controller>users</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/(?P&lt;id&gt;\d+)$/</url>
    <controller>users</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>users</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/alter\/?$/</url>
    <controller>users</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/dashboard\/users\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>users</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/session\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>session</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/session\/create\/?$/</url>
    <controller>session</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/session\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>session</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/modules\/?$/</url>
    <controller>modules</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>modules</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/new\/?$/</url>
    <controller>modules</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/modules\/create\/?$/</url>
    <controller>modules</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/modules\/(?P&lt;id&gt;\d+)$/</url>
    <controller>modules</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/modules\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>modules</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/modules\/alter\/?$/</url>
    <controller>modules</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/modules\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>modules</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/?$/</url>
    <controller>portfolios</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>portfolios</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/new\/?$/</url>
    <controller>portfolios</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/create\/?$/</url>
    <controller>portfolios</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;id&gt;\d+)$/</url>
    <controller>portfolios</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>portfolios</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/alter\/?$/</url>
    <controller>portfolios</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>portfolios</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/?$/</url>
    <controller>portfolio_images</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>portfolio_images</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/new\/?$/</url>
    <controller>portfolio_images</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/create\/?$/</url>
    <controller>portfolio_images</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/(?P&lt;id&gt;\d+)$/</url>
    <controller>portfolio_images</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>portfolio_images</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/alter\/?$/</url>
    <controller>portfolio_images</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/modules\/portfolios\/(?P&lt;portfolio_id&gt;\d+)\/portfolio_images\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>portfolio_images</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/?$/</url>
    <controller>employees</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/list\/(?P&lt;page&gt;\d+)\/?$/</url>
    <controller>employees</controller>
    <view>index</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/new\/?$/</url>
    <controller>employees</controller>
    <view>new</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/create\/?$/</url>
    <controller>employees</controller>
    <view>create</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/(?P&lt;id&gt;\d+)$/</url>
    <controller>employees</controller>
    <view>show</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/(?P&lt;id&gt;\d+)\/edit\/?$/</url>
    <controller>employees</controller>
    <view>edit</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/alter\/?$/</url>
    <controller>employees</controller>
    <view>alter</view>
  </route>
  <route>
    <url>/^\/modules\/employees\/(?P&lt;id&gt;\d+)\/delete\/?$/</url>
    <controller>employees</controller>
    <view>delete</view>
  </route>
  <route>
    <url>/^\/?$/</url>
    <controller>application</controller>
    <view>index</view>
  </route>
</routes>
